.Header{
  position: sticky;
  top: 0;
  color: aliceblue;
  height:100px;
  background-color:   #061a3b;
  box-shadow: 0px 8px 17px #585555;
}

h1{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.Footer{
  position: fixed;
  width: 100%;
  bottom: 0;
  height:70px;
  color: aliceblue;
  background-color:   #061a3b;
}

.Footer p{
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.content{
  background-color: #f8b59a;
  min-height: 100vh;
  text-align: center;
}